@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

.link_store {
  max-width: 300px;
  text-decoration: none;
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: rgb(255, 255, 255);
  
  background-color: hsl(0, 83%, 50%);
  box-shadow: rgb(98, 6, 6) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

.link_store:focus {
  outline-color: transparent;
  box-shadow: hsl(0, 94%, 14%) 2px 2px 22px;
}

.right::after, .link_store::after {
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

.link_store::after{
  font-weight: 200;
  top: -20px;
  left: -20px;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.link_store:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.link_store .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.link_store .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
.link_store::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, rgb(211, 88, 88) 3px, rgb(236, 198, 198) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, rgb(220, 108, 108) 3px, rgb(236, 198, 198) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, rgb(168, 79, 79)5px, rgb(236, 198, 198) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -30%);
  }
}

/* ------------------------------------------ */

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}
a span {
  padding: 13px;
  transition: .5s;
  position: relative;
}
a span:nth-child(1) {
  color: #fff;
  background: #262626;
}
a span:nth-child(2) {
  color: #fff;
  background: #ff3636;
}
a span:nth-child(1):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 13px;
  transition: 0.5S;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
a:hover span:nth-child(1):before {
  transform: rotateX(0deg) translateY(0%);
} 
a span:nth-child(2):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  padding: 13px;
  transition: 0.5S;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}
a:hover span:nth-child(2):before {
  transform: rotateX(0deg) translateY(0%);
} 
a  span:nth-child(1):after {
content: attr(data-attr);
padding: 13px;
position: absolute;
top: 0;
left: 0;
background: #262626;
transform-origin: bottom;
transform: rotateX(0deg) translateY(0%);
transition: 0.5s;
}
a:hover span:nth-child(1):after {
transform: rotateX(90deg) translateY(50%);
}
a span:nth-child(2):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  background: #ff3636;
  padding: 13px;
  transition: 0.5S;
  transform-origin: top;
  transform: rotateX(0deg) translateY(0%);
}
a:hover span:nth-child(2):after {
  transform: rotateX(90deg) translateY(-50%);
} 